* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c8e0e9;
    border: 3px double #362b25;
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button[type="button"] {
    padding: 10px 20px;
    background-color: #18354a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todo-text {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .delete-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  